@import "tailwindcss";

@theme {
  --color-siesa-blue: #0e79fd;
  --color-siesa-deep-blue: #154ca9;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
